{
    "discordToken": "<Secret Here>",
    "db": {
        "client": "pg",
        "connection": {
            "host" : "localhost",
            "user" : "user",
            "password" : "password",
            "database" : "database"
        }
    }
}